<div class ="favorite-link" id="favorite-link-<%= book.id %>">
  <% if current_user.favorites.find_by(book_id: book.id) %>
    <%= link_to unfavorite_path(book.id), method: :delete, remote: true do %>
      <div class = "iine__button">❤︎<%= book.favorites_count %></div>
      <% end %>
    <% else %>
    <% link_to favorite_path(book.id), method: :post, remote: true do %>
      <div class = "iine__button">♡<%= book.favorites_count %></div>
    <% end %>
  <% end %>
</div>
