<h1>New book</h1>
<%= form_for(book) do |f| %>



<h4>Title</h4>
<div class="field row">
	<%= f.text_field :title, class: 'col-xs-12 book_title' %>
</div>

<h4>Opinion</h4>
<div class="field row">
	<%= f.text_area :body, class: 'col-xs-12' %>
</div><br>
<div class="row">
	<%= f.submit 'Create Book', class: 'btn btn-primary col-xs-12' %>
</div>

<% end %>